
* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
    
}
:root {
    --bg: #E76C1F;
    --bg2:#fde9dc; 
    --bg3: #353633;
    --text: #323534;
}
@font-face {
    font-family: 'Palanquin';
    src: url(./assets/fonts/Palanquin/Palanquin-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'palanquin-dark';
    src: url(./assets/fonts/Palanquin_Dark/PalanquinDark-SemiBold.ttf) format('truetype');
    font-weight: bold;
}
body{
   font-family:  'Palanquin';
}
header {
  display: flex;
  justify-content: space-between; /* Verteilt Logo links, Burger rechts */
  max-width: 1440px; /* Begrenzt die Breite auf großen Bildschirmen */
}
.first_head img {
        padding: 14px;
        height: 64px;
        box-shadow: 2px 4px 4px 0px #00000040;
        margin: 16px;
}
.first_head{
    background: var(--bg);
    width: 1440px;
    height: 128px;
    display: flex;
    justify-content: space-between;
  
}
.hero_Photo{
    width: 1440px;
    height: 508px;
    top: 59px;
    object-fit: cover;
}
.main_content{
        color: var(--text);
}
section{
    position: relative;
}
.title-section {
  max-width: 1440px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-picture {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 13px solid #FDEADC;
    object-fit: cover;
    margin-top:-128px;

}
.first_headline{
 font-family: 'palanquin-dark';
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
       
}
.head_text{
    color: var(--bg);
}
h1{
    font-size: 40px;
}
.restaurant{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.restaurant p{
    text-align: center;
    font-size: 27px;
}

.rate_star{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-left: 10px;
    padding: 5px;
    background-color: var(--bg2);
}

.rate_star img {
    width: 16px;
    height: 16px;
}

.rate_odds {
    font-weight: bold;
}

.reviewersqty {
    color: #7f6a5e;
    font-family: 'palanquin';
}




.content_wrapper{
    gap: 2px;
    padding: 2px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    background-color: var(--bg_darkblue_light);
}
.content{
    padding: 16px;
    width: calc(100% - 316px);
    border: 2px solid var(--prime_blue);
}
.basket_wrapper{
    width: 300px;
    flex-grow: 1;
    border: 2px solid var(--prime_red);
    
}
.basket{
    width: 100%;
    height: 400px;
    background-color: #124658;
    position: sticky;
    top: 0;
}
.test_content{
    padding: 32px;
    font-size: 48px;
    height: 1500px;
    width: 100%;
    background-color: #124658;
}

